openapi: 3.1.0
info:
  title: URL短縮サービス API
  description: |
    URL短縮・解決のための REST API。

    ## 認証

    すべての `/api/v1/` エンドポイントには API キーが必要です。

    ```
    Authorization: Bearer <API_KEY>
    ```

    ## レート制限

    API キー単位で 60 リクエスト / 分。上限超過時は `429 Too Many Requests` を返します。
    `Retry-After` ヘッダーに次のリクエストまでの待機秒数が含まれます。

  version: 1.0.0
  license:
    name: MIT

servers:
  - url: https://s.uni-3.app
    description: 本番環境

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "APIキー。`Authorization: Bearer <API_KEY>` ヘッダーで送信。"

  schemas:
    Link:
      type: object
      required: [code, short_url, long_url]
      properties:
        code:
          type: string
          description: 短縮コード
          example: abc123
        short_url:
          type: string
          format: uri
          description: 短縮 URL
          example: https://s.uni-3.app/abc123
        long_url:
          type: string
          format: uri
          description: 元の URL
          example: https://example.com/very/long/path

    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [message]
          properties:
            message:
              type: string
              description: エラーメッセージ
              example: APIキーが無効です

    UnsafeUrlError:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [message]
          properties:
            message:
              type: string
              example: このURLは安全ではない可能性があるため登録できません
            threatType:
              type: string
              description: Google Safe Browsing が検出した脅威の種別
              example: MALWARE

paths:
  /{code}:
    get:
      operationId: redirect
      summary: 短縮 URL へリダイレクト
      description: |
        短縮コードに対応する元の URL へ `302` リダイレクトします。
        認証不要。Cloudflare KV でキャッシュされるため低レイテンシです。
      tags: [Redirect]
      security: []
      parameters:
        - name: code
          in: path
          required: true
          description: 短縮コード
          schema:
            type: string
          example: abc123
      responses:
        '302':
          description: 元の URL へリダイレクト
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: リダイレクト先 URL
        '404':
          description: 指定されたコードが存在しない
        '500':
          description: サーバーエラー

  /api/v1/links:
    post:
      operationId: createLink
      summary: URL を短縮する
      description: |
        指定した URL を短縮します。
        既に登録済みの URL の場合は既存の短縮コードを `200` で返します（新規作成時は `201`）。
      tags: [Links]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                  description: 短縮する URL（http / https）
                  example: https://example.com/very/long/path
            example:
              url: https://example.com/very/long/path
      responses:
        '201':
          description: 新規作成
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
              example:
                code: abc123
                short_url: https://s.uni-3.app/abc123
                long_url: https://example.com/very/long/path
        '200':
          description: 既存の短縮 URL（重複登録）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: リクエストが不正（URL 形式エラーなど）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: APIキーが無効
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 安全でない URL のため登録不可（Google Safe Browsing）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnsafeUrlError'
        '429':
          description: レート制限超過（60 リクエスト / 分）
          headers:
            Retry-After:
              schema:
                type: integer
              description: 次のリクエストまでの待機秒数
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/links/{code}:
    parameters:
      - name: code
        in: path
        required: true
        description: 短縮コード
        schema:
          type: string
        example: abc123

    get:
      operationId: getLink
      summary: 短縮 URL の詳細を取得する
      description: 短縮コードに対応する URL の詳細情報を取得します。
      tags: [Links]
      responses:
        '200':
          description: リンク情報
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '401':
          description: APIキーが無効
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 指定されたコードが存在しない
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: レート制限超過
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      operationId: deleteLink
      summary: 短縮 URL を削除する
      description: 短縮コードに対応する URL を削除します。KV キャッシュも同時にクリアされます。
      tags: [Links]
      responses:
        '204':
          description: 削除成功
        '401':
          description: APIキーが無効
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: 指定されたコードが存在しない
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: レート制限超過
          headers:
            Retry-After:
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
